@import 'base/_variables'

*
    font-family: 'Museo Sans', sans-serif
    list-style-type: none 

.container
    max-width: 1140px
    margin: 0 auto
    padding: 0 12px


@import 'blocks/_button'
@import 'blocks/_run'
@import 'blocks/_header'
@import '_media'